<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDksfKJBgqeI6xIScQX0Sp3DxafDpq-dg</string>
	<key>GCM_SENDER_ID</key>
	<string>288880821035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.craftroots</string>
	<key>PROJECT_ID</key>
	<string>craftroots-e578e</string>
	<key>STORAGE_BUCKET</key>
	<string>craftroots-e578e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288880821035:ios:7e79e82363d1cb5f673b6e</string>
</dict>
</plist>